:root {
  --square-size: 160px;
}

body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 80px;
  font-weight: bold;
  line-height: 34px;
  height: var(--square-size);
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: var(--square-size);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
}

.game-info {
  margin-left: 20px;
}

.moves-list {
  font-size: 18px;
  max-width: 400px;
}

.move {
  margin: 10px;
}

.move-button {
  font-size: 18px;
  transition: all 200ms;
  border: none;
}

.move-button:focus {
  color: white;
  background-color: blue;
}

.winner {
  background-color: rgb(0, 255, 0);
}

.board {
  display: grid;
  grid-template-columns: repeat(3, var(--square-size));
  grid-template-rows: repeat(3, var(--square-size));
}

.reverse {
  display: flex;
  flex-wrap: wrap-reverse;
}

.reverse .move {
  width: 100%;
  margin: 5px;
}

.coordenada {
  font-size: 14px;
  font-style: italic;
  color: red;
}